<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'fineform')}">
<head>
    <meta charset="UTF-8"/>
    <title id="pageTitle">Fine form</title>
</head>
<body>
<body>
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Operator"*/-->
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Fine"*/-->

<div class="container-fluid col-md-8 offset-2" style="margin-top: 20px">

            <form th:object="${fine}" th:action="@{'/operator/' + ${fine.getOperatorId()} + '/fine'}" method="post" class="form-horizontal">
                <input type="hidden" th:field="*{id}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{operator.error}">Please Correct Errors Below</p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #0275d8">New Fine form</h5>
                            <div class="row">
                                <label for="date" class="col-md-2 control-label">Date:</label>
                                <div class="col-md-2 form-group" th:class="${#fields.hasErrors('date')}
                               ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <input type="date" id="date" class="form-control" placeholder="Date" th:field="*{date}">
                                    <span class="help-block" th:if="${#fields.hasErrors('date')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('date')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <label for="num" class="col-md-2 control-label">Size:</label>
                                <div class="col-md-2 form-group" th:class="${#fields.hasErrors('size')}
                               ? 'col-md-2 form-group has-error' : 'col-md-2 form-group'">
                                    <input type="number" step="50" class="form-control" id="num" placeholder="Size" th:field="*{size}">
                                    <span class="help-block" th:if="${#fields.hasErrors('size')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('size')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <label for="dn" class="col-md-2 control-label">Decription:</label>
                                <div class="col-md-8 form-group" th:class="${#fields.hasErrors('description')}
                               ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                    <input type="text" class="form-control" id="dn" placeholder="Description" th:field="*{description}">
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

        </form>
    </div>
</body>
