<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Outgoing List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>

<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Outgoing"*/-->
<div class="container-fluid col-md-4 offset-4" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="panel-title">Outgoing List</h1>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(outgoingList)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>№</th>
                                <th>Number</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="out : ${outgoingList}">
                                <td>123</td>
                                <td th:text="${out.number}">3254325</td>
                                <td><a href="#" th:href="@{'/dailystats/outgoinglist/' + ${out.getId()}+'/delete'}">Delete</a></td>
                            </tr>

                        </table>
                    </div>

                    <br>

                    <form th:object="${outgoing}" th:action="@{'/add/'}" method="post" class="form-horizontal">
                        <input type="hidden" th:field="*{id}">
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:text="#{operator.error}">Please Correct Errors Below</p>
                        </div>
                        <div class="pannel-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Add outgoing number</h4>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <label for="num" class="col-md-3 control-label">Number:</label>
                                        <div class="col-md-3 form-group" th:class="${#fields.hasErrors('number')}
                               ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                            <input type="text" class="form-control" id="num" placeholder="Number" th:field="*{number}">
                                            <span class="help-block" th:if="${#fields.hasErrors('number')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('number')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.table tbody tr').each(function (i) {
        var number = i + 1;
        $(this).find('td:first').text(number + ".");
    });
</script>
</body>
</html>