<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SB-AST Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <style>
        .dropdown-menu{
            background-color:lightgray;height: auto;
            max-height: 200px;
            overflow-x:hidden;
            overflow-y:scroll;
            min-width: 135px;
            margin-top: 0px;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="dailyStats" type="com.balakin.sberbankast.domain.DailyStats"*/-->
<div class="container-fluid col-md-10 offset-1" style="margin-top: 20px">
    <br>
    <br>
    <form  action="http:\\localhost" method="post" class="form-horizontal" th:action="@{'/viewstats'}">
    <div class="row">

        <div class="col-sm-3">
            <div class="card">
                <div class="form-group">
                    <h5 class="card-title">Start date</h5>
                    <input name="startdate" type="date" th:value="${request.get(0)}" required="required" pattern="{1,20}" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="form-group">
                    <h5 class="card-title">End date</h5>
                    <input name="enddate" type="date" required="required" th:value="${request.get(1)}" pattern="{1,20}" class="form-control">
                </div>
            </div>
        </div>
        <div class="input-group-prepend">
                <select name="operator">
                <option   class="dropdown-item" text="all" value="all" th:selected="${request.get(2).equals('all')}">All operators</option>
                <option   class="dropdown-item" th:each="operator : ${operators}" th:text="${operator.lastName+' '+operator.number}"
                   th:value="${operator.number}" th:selected="${request.get(2).equals(operator.number)}">Name</option>
                </select>
        </div>


    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <div class="table-responsive" th:if="${#lists.isEmpty(stats)}">
                <p th:text="${'No data found for chosen period'}"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <div class="row" th:if="${not #lists.isEmpty(stats)}">
                <div class="col-md-4">
                    <p th:text="${'Total statistics'}"></p>
                </div>
                <div class="table-responsive" th:if="${not #lists.isEmpty(stats)}">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>№</th>
                            <th>Период</th>
                            <th>Операторов</th>
                            <th>Входящие</th>
                            <th>Ср. время входящих</th>
                            <th>Исходящие внеш.</th>
                            <th>В сети</th>
                            <th>Не готов</th>
                            <th>Ср. работа после звонка</th>
                            <th>Ср. удержание</th>
                            <th>Потеряные (406)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td>123</td>
                            <td th:text="${request.get(0)+' - '+request.get(1)}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.lost}">Tasty Goodnees </td>
                            <td th:text="${dstats.incoming}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.getTime(dstats.incomingAvrg)}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.outgoingExternal}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.getTime(dstats.getTotalWorkTime())}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.getTime(dstats.totalNotReadyTime)}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.getTime(dstats.afterCallTimeAvrg)}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.getTime(dstats.holdTimeAvrg)}">Tasty Goodnees 3</td>
                            <td th:text="${dstats.getLost406()+'('+ dstats.lost406*100.0/dstats.incoming+'%)'}">Tasty Goodnees 3</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" th:if="${not #lists.isEmpty(stats)}">
            <div class="col-md-4">
                <p th:text="${stats.size()+' found'}"></p>
            </div>
            </div>
            <div class="table-responsive" th:if="${not #lists.isEmpty(stats)}">
                <table class="table table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>№</th>
                        <!--                                <th>ID</th>-->
                        <th>Период</th>
                        <th>Оператор</th>
                        <th>Доб.</th>
                        <th>Входящие</th>
                        <th>Ср. время входящих</th>
                        <th>Исходящие внеш.</th>
                        <th>В сети</th>
                        <th>Не готов</th>
                        <th>Ср. работа после звонка</th>
                        <th>Ср. удержание</th>
                        <th>Потеряные (406)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dailyStats : ${stats}" >
                        <td>123</td>
                        <!--                                <td th:text="${operator.id}">idd</td>-->
                        <td th:text="${request.get(2).equals('all')} ? ${dailyStats.outgoingInternal+' дней'} :
                         ${dailyStats.date}" >Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.operator.lastName}+' '+${dailyStats.operator.firstName}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.number}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.incoming}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.getTime(dailyStats.incomingAvrg)}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.outgoingExternal}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.getTime(dailyStats.totalWorkTime)}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.getTime(dailyStats.totalNotReadyTime)}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.getTime(dailyStats.afterCallTimeAvrg)}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.getTime(dailyStats.holdTimeAvrg)}">Tasty Goodnees 3</td>
                        <td th:text="${dailyStats.incoming==0} ? ${0+'(0%)'} : ${dailyStats.lost406+' ('+dailyStats.lost406*100.0/dailyStats.incoming+'%)'}">Tasty Goodnees 3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('.table tbody tr').each(function (i) {
        var number = i + 1;
        $(this).find('td:first').text(number + ".");
    });
</script>
</body>
</html>