<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Operator</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.OperatorCommand"*/-->

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${operator}" th:action="@{/operator/}" method="post" class="form-horizontal">
                <input type="hidden" th:field="*{id}">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">New operator creation form</h1>
                    </div>
                    <div class="panel-body">

                            <div class="form-group">
                                <label for="ln" class="col-md-3 control-label">Last name:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="ln" placeholder="Last name" th:field="*{lastName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fn" class="col-md-3 control-label">First name:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="fn" placeholder="First name" th:field="*{firstName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="num" class="col-md-3 control-label">Number:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="num" placeholder="Number" th:field="*{number}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="doe" class="col-md-4 control-label">Date of employement:</label>
                                <div class="col-md-3">
                                    <input id="doe" type="date" class="form-control"  th:field="*{employementDate}">
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Categories:</label>

                                <ul>
                                    <li th:each="item : ${specialtylist}">
                                        <input type="checkbox" th:field="*{specialties}" th:value="${item}"/>
                                        <label th:for="${#ids.prev('specialties')}" th:text="${item.description}"></label>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Shift:</label>
                            <select class="form-control" th:field="*{shift}">
                                <option th:each="shiftValue : ${T(com.balakin.sberbankast.domain.Shift).values()}"
                                        th:value="${shiftValue.name()}"
                                        th:text="${shiftValue.name()}"
                                >val</option>
                            </select>

                                    <select class="form-control" th:remove="all">
                                        <option>SEVEN_AM</option>
                                        <option>EIGHT_AM</option>
                                        <option>NINE_AM</option>
                                    </select>


                            </div>








                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Notes</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{notes.description}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-10 ">
                                <h1 class="panel-title">Fines</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#" th:href="@{'/operator/' + ${operator.id} + '/fines'}" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">test 1</li>
                                    <li th:remove="all">test 2</li>
                                    <li th:each="fine : ${operator.fines}"
                                        th:text="${fine.getSize() +' rub. - ' + fine.getDescription()}">Test Fine
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-10 ">
                                <h1 class="panel-title">Bonuses</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#" th:href="@{'/operator/' + ${operator.id} + '/bonuses'}" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">test 1</li>
                                    <li th:remove="all">test 2</li>
                                    <li th:each="bonus : ${operator.bonuses}"
                                        th:text="${bonus.getSize() +' rub. - ' + bonus.getDescription()}">Test Bonus
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>