<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SB-AST Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        li {
            list-style-type: none; /* Убираем маркеры */
        }
        ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>

</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2 ">
                            <p class="panel-title">Operators</p>
                        </div>

                        <div class="col-md-2 col-md-offset-7">
                            <a class="btn btn-default" href="#" th:href="@{'/operator/new'}" role="button">Add operator</a>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <br>
                    <div class="col-md-10">
                        <form th:action="@{/sort/}" th:method="post">

                            <label  class="col-md-4 control-label" style="text-decoration: underline">Sort by:</label>
                            <label  class="col-md-5 control-label" style="text-decoration: underline">Specialties filter:</label>
                            <label  class="col-md-3 control-label" style="text-decoration: underline">Experience filter:</label>
                            <div class="row">
                                <div class="col-md-12 form-group" >
                                    <div class="col-md-4 form-group" >
                                    <div class="form-check">
                                        <input class="form-check-input-md-offset-2" type="radio" name="sort by" id="exampleRadios1"
                                               value="name" th:checked="${data.contains('name')}" >
                                        <label class="form-check-label" for="exampleRadios1">
                                            name
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort by" id="exampleRadios2"
                                               value="specialties" th:checked="${data.contains('specialties')}">
                                        <label class="form-check-label" for="exampleRadios1">
                                            specialties
                                        </label>
                                    </div>
                                        <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sort by" id="exampleRadios3"
                                               value="date of employment" th:checked="${data.contains('date of employment')}">
                                        <label class="form-check-label" for="exampleRadios1">
                                            date of employment
                                        </label>
                                        </div>

                                    </div>

                                    <div class="col-md-5 form-group" >

                                            <p id="controls">

                                                <input type="checkbox" name="specialty" value="GOS(44-FZ)"
                                                       th:checked="${data.contains('GOS(44-FZ)')}"><b>GOS(44-FZ)</b><br>
                                                <input type="checkbox" name="specialty" value="Corporate(223-FZ)"
                                                       th:checked="${data.contains('Corporate(223-FZ)')}"><b>Corporate(223-FZ)</b><br>
                                                <input type="checkbox" name="specialty" value="Bankruptsy & Privatization"
                                                       th:checked="${data.contains('Bankruptsy & Privatization')}"><b>Bankruptsy & Privatization</b><br>
                                                <input type="checkbox" name="specialty" value="Commercial"
                                                       th:checked="${data.contains('Commercial')}"><b>Commercial</b><br>
                                                <input type="checkbox" name="specialty" value="Other"
                                                       th:checked="${data.contains('Other')}"><b>Other</b><br>
                                                <input type="checkbox" id="checkbox" name="specialty" value="everyspecialty" th:checked="${data.contains('everyspecialty')}"/><b>All specialties</b>
                                        </p>





                                    </div>




                                    <div class="col-md-3 form-group" >

                                            <div class="group">
                                                <input type="checkbox" name="experience" value="0 year" th:checked="${data.contains('0 year')}"><b>0 years</b><br>
                                                <input type="checkbox" name="experience" value="1 year" th:checked="${data.contains('1 year')}"><b>1 year</b><br>
                                                <input type="checkbox" name="experience" value="2 year" th:checked="${data.contains('2 year')}"><b>2 years</b><br>
                                                <input type="checkbox" name="experience" value="3 year" th:checked="${data.contains('3 year')}"><b>3 years</b><br>
                                                <input type="checkbox" name="experience" value="4 year" th:checked="${data.contains('4 year')}"> <b>4+ years</b><br>
                                                <input type="checkbox" name="experience" value="all" th:checked="${data.contains('all')}"><b>all</b>
                                            </div>


                                    </div>

                                </div>
                                </div>

                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <br>
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2 ">
                            <p class="panel-title">Search</p>
                        </div>
                        <div class="col-md-10" >
                            <input class="form-control mb-4" id="tableSearch" type="text"
                                   placeholder="Type something to search operators">
                        </div>

                    </div>


                </div>

                <div class="panel-body">

                        <div class="table-responsive" th:if="${not #lists.isEmpty(operators)}">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>№</th>
                                    <!--                                <th>ID</th>-->
                                    <th>Name</th>
                                    <th>Number</th>
                                    <th>Employed (years)</th>
                                    <th>Specialties</th>
                                    <th>View</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="myTable">
                                <tr th:each="operator : ${operators}" >
                                    <!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Operator"*/-->
                                    <td>123</td>
                                    <!--                                <td th:text="${operator.id}">idd</td>-->
                                    <td th:text="${operator.lastName+' '+operator.firstName}">Tasty Goodnees 3</td>
                                    <td th:text="${operator.number}">Tasty Goodnees 3</td>
                                    <td th:text="${operator.employementDate+' ('+operator.getYears()+')'}">Tasty Goodnees 3</td>
                                    <td th:text="${operator.specialties.size()}">Tasty Goodnees 3</td>
                                    <td><a href="#" th:href="@{'/operator/' + ${operator.id}+'/show'}">View</a></td>
                                    <td><a href="#" th:href="@{'/operator/' + ${operator.id}+'/update'}">Update</a></td>
                                    <td><a href="#" th:href="@{'/operator/' + ${operator.id}+'/delete'}">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.table tbody tr').each(function (i) {
        var number = i + 1;
        $(this).find('td:first').text(number + ".");
    });
</script>

<script>

    $(".group input").on("click", function() {

        $(".group input").removeAttr("checked"); // Снимаем чекбокс со всей группы
        $(this).prop("checked", true); // Оставляем выбранный чекбокс

    });

</script>

<script>
    $('#checkbox').click(function(){
        if ($(this).is(':checked')){
            $('#controls input:checkbox').prop('checked', true);
        } else {
            $('#controls input:checkbox').prop('checked', false);
        }
    });
</script>

<!--Filter table-->
<script>
$(document).ready(function(){
$("#tableSearch").on("keyup", function() {
var value = $(this).val().toLowerCase();
$("#myTable tr").filter(function() {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
</script>
</body>
</html>