<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SB-AST Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10 ">
                            <h1 class="panel-title">Operators</h1>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-default" href="#" th:href="@{'/operator/new'}" role="button">New</a>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-10">
                        <form th:action="@{/sort/}" th:method="post">
                            <p><b>Sort by:</b></p>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                       value="name" th:checked="${data.contains('name')}" >
                                <label class="form-check-label" for="exampleRadios1">
                                    name
                                </label>
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                       value="specialties" th:checked="${data.contains('specialties')}">
                                <label class="form-check-label" for="exampleRadios2">
                                    specialties
                                </label>
                                <div class="form-group col-md-offset-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(operators)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>№</th>
                                <!--                                <th>ID</th>-->
                                <th>Name</th>
                                <th>Date of employement</th>
                                <th>Specialties</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <!--                                <td>123</td>-->
                                <td>Tasty Goodnees 1</td>
                                <td>Tasty Goodnees 1</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>123</td>
                                <!--                                <td>12333</td>-->
                                <td>Tasty Goodnees 1</td>
                                <td>Tasty Goodnees 1</td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                            </tr>
                            <tr th:each="operator : ${operators}">
                                <!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Operator"*/-->
                                <td>123</td>
                                <!--                                <td th:text="${operator.id}">idd</td>-->
                                <td th:text="${operator.lastName+' '+operator.firstName}">Tasty Goodnees 3</td>
                                <td th:text="${operator.employementDate}">Tasty Goodnees 3</td>
                                <td th:text="${operator.specialties.size()}">Tasty Goodnees 3</td>
                                <td><a href="#" th:href="@{'/operator/' + ${operator.id}+'/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/operator/' + ${operator.id}+'/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/operator/' + ${operator.id}+'/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.table tbody tr').each(function (i) {
        var number = i + 1;
        $(this).find('td:first').text(number + ".");
    });
</script>

</body>
</html>