<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bonus form</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Operator"*/-->
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Bonus"*/-->

<div class="container-fluid col-md-8 offset-2" style="margin-top: 20px">

    <form th:object="${bonus}" th:action="@{'/operator/' + ${bonus.getOperatorId()} + '/bonus'}" method="post" class="form-horizontal">
        <input type="hidden" th:field="*{id}">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{operator.error}">Please Correct Errors Below</p>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #0275d8">New bonus form</h5>
                <div class="row">
                    <label for="date" class="col-md-2 control-label">Date:</label>
                    <div class="col-md-2 form-group" th:class="${#fields.hasErrors('date')}
                               ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                        <input type="date" id="date" class="form-control" placeholder="Date" th:field="*{date}">
                        <span class="help-block" th:if="${#fields.hasErrors('date')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('date')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                    </div>
                </div>
                <div class="row">
                    <label for="num" class="col-md-2 control-label">Size:</label>
                    <div class="col-md-2 form-group" th:class="${#fields.hasErrors('size')}
                               ? 'col-md-2 form-group has-error' : 'col-md-2 form-group'">
                        <input type="number" step="50" class="form-control" id="num" placeholder="Size" th:field="*{size}">
                        <span class="help-block" th:if="${#fields.hasErrors('size')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('size')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                    </div>
                </div>
                <div class="row">
                    <label for="dn" class="col-md-2 control-label">Decription:</label>
                    <div class="col-md-8 form-group" th:class="${#fields.hasErrors('description')}
                               ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                        <input type="text" class="form-control" id="dn" placeholder="Description" th:field="*{description}">
                        <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>
</body>