<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bonus form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Operator"*/-->
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Bonus"*/-->

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${bonus}" th:action="@{'/operator/' + ${bonus.getOperatorId()} + '/bonus'}" method="post" class="form-horizontal">
                <input type="hidden" th:field="*{id}">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{operator.error}">Please Correct Errors Below</p>
                </div>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">New bonus form</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <label for="date" class="col-md-1 control-label">Date:</label>
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('date')}
                               ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <input type="date" id="date" class="form-control" placeholder="Date" th:field="*{date}">
                                <span class="help-block" th:if="${#fields.hasErrors('date')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('date')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                            </div>
                            <div class="row">
                                <label for="num" class="col-md-1 control-label">Size:</label>
                                <div class="col-md-2 form-group" th:class="${#fields.hasErrors('size')}
                               ? 'col-md-2 form-group has-error' : 'col-md-2 form-group'">
                                    <input type="number" step="50" class="form-control" id="num" placeholder="Size" th:field="*{size}">
                                    <span class="help-block" th:if="${#fields.hasErrors('size')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('size')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <label for="dn" class="col-md-2 control-label">Decription:</label>
                                <div class="col-md-6 form-group" th:class="${#fields.hasErrors('description')}
                               ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                                    <input type="text" class="form-control" id="dn" placeholder="Description" th:field="*{description}">
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>
</body>
