<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'bonuslist')}">
<head>
    <meta charset="UTF-8"/>
    <title id="pageTitle">Bonuses</title>
</head>
<body>
<body>

<!--/*@thymesVar id="bonuses" type="java.util.Set<com.balakin.sberbankast.commands.BonusCommand>"*/-->
<!--/*@thymesVar id="operator" type="com.balakin.sberbankast.domain.Operator"*/-->
<div class="container-fluid col-md-6 offset-3" style="margin-top: 20px">
    <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-md-10 ">
                <h5 class="card-title" style="color: #0275d8">Bonuses</h5>
            </div>
                        <div class="col-md-1">
                            <a class="btn btn-primary" href="#" th:href="@{'/operator/' + ${operator.id} + '/bonus/new'}" role="button">New</a>
                        </div>
            </div>
            <br>
                <div class="row">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(operator.bonuses)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>№</th>
                                <th>Date</th>
                                <th>Size</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>123</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>134</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:each="bonus : ${operator.bonuses}">
                                <td>123</td>
                                <td th:text="${bonus.date}">334</td>
                                <td th:text="${bonus.size}">3254325</td>
                                <td th:text="${bonus.description}">3254325</td>
                                <td><a href="#" th:href="@{'/operator/'+${operator.id} +'/bonuses/' + ${bonus.id}+'/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/operator/'+${operator.id} +'/bonuses/' + ${bonus.id}+'/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/operator/'+${operator.id} +'/bonuses/' + ${bonus.id}+'/delete'}">Delete</a></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $('.table tbody tr').each(function (i) {
        var number = i + 1;
        $(this).find('td:first').text(number + ".");
    });
</script>
</body>
</html>